/* select {
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  
  border: none;         
  background: none;    
  box-shadow: none;     
  
  padding: 0; 
  margin: 0;
  font-family: inherit;
  font-size: inherit;   
  color: inherit;       
}

select:focus {
  outline: none;         
}

option {
  padding: 0rem;
  background: black;
  border: none;

  &::hover{
    background: red;
  }
}

option:hover {
  background-color: red;
}

select::-ms-expand {
  border: none;
} */